<p>Nome: {{ person.name }}</p>
<p>Total de vacinas: {{ vaccinations.length }}</p>

<table>
  <thead>
    <tr>
      <th>Vacinas/Doses</th>

      @for (vaccination of vaccinations; track vaccination.vaccineId) {
        <th>{{ vaccination.vaccineName }}</th>
      }
    </tr>
  </thead>

  <tbody>
    @for (doseNumber of doseNumbers; track doseNumber) {
      <tr>
        <td>Dose {{ doseNumber }}</td>

        @for (vaccination of vaccinations; track vaccination.vaccineId) {
          <td>
            @if (getDoseHelper(vaccination, doseNumber)!; as dose) {
              <span
                class="clickable"
                (click)="onDoseClick(dose, vaccination.vaccineName)">
                {{dose.appliedAt}}
              </span>
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>

<button type="submit" (click)="onDeletePerson()">Excluir paciente</button>
<button type="submit" (click)="onRegisterVaccination()">Cadastrar nova vacinação</button>

@if (showRegisterVaccinationModal) {
  <app-vaccination-register-modal
    (closeEvent)="showRegisterVaccinationModal = false"
    (confirmRegisterEvent)="onConfirmRegisterVaccination($event)">
  </app-vaccination-register-modal>
}

@if (showDeletePersonModal) {
  <app-confirm-modal
    (closeEvent)="showDeletePersonModal = false"
    (confirm)="onConfirmPersonDeletion($event)">
  </app-confirm-modal>
}

@if (showDoseManagementModal) {
  <app-dose-management-modal
    (closeEvent)="showDoseManagementModal = false" 
    (confirmDoseDeletion)="onConfirmDoseDeletion($event)"
    [dose]="selectedDose">
  </app-dose-management-modal>
}

@if (isLoading()) {
  <app-spinner></app-spinner>
}