<p>Nome: {{ person.name }}</p>
<p>Total de vacinas: {{ vaccinations.length }}</p>

@for (vaccination of vaccinations; track vaccination.vaccineId) {
  <div>
    <h3>{{ vaccination.vaccineName }}</h3>

    <ul>
      @for (dose of vaccination.appliedDoses; track dose.doseNumber) {
        <li class="clickable" (click)="onDoseClick(dose, vaccination.vaccineName)">
          Dose {{ dose.doseNumber }} - {{ dose.appliedAt }}
        </li>
      }
    </ul>
  </div>
}

<button type="submit" (click)="onDeletePerson()">Excluir paciente</button>
<button type="submit" (click)="onRegisterVaccination()">Cadastrar nova vacinação</button>

@if (showRegisterVaccinationModal) {
  <app-vaccination-register-modal
    (closeEvent)="showRegisterVaccinationModal = false">
  </app-vaccination-register-modal>
}

@if (showDeletePersonModal) {
  <app-confirm-modal
    (closeEvent)="showDeletePersonModal = false"
    (confirm)="onConfirmDeletion($event)">
  </app-confirm-modal>
}

@if (showDoseManagementModal) {
  <app-dose-management-modal
    (closeEvent)="showDoseManagementModal = false" 
    [dose]="selectedDose">
  </app-dose-management-modal>
}