<h2>Administração de carteiras de vacinações</h2>

<label for="person">Selecione uma pessoa:</label>

<select id="person" (change)="onSelect($event.target)">
  <option value="">-- selecione --</option>

  @for (person of people; track person) {
    <option [value]="person.id">
        {{ person.name }}
    </option>
  }
</select>

<hr />

@if (selectedPersonId) {
  <app-vaccination-card
    [personId]="selectedPersonId">
  </app-vaccination-card>

  <hr />
}

<button type="submit" (click)="onRegisterPerson()">Cadastrar novo paciente</button>