<h2>Administração de vacinas</h2>

<p>Vacinas cadastradas:</p>

<ul>
    @for (vaccine of vaccines; track vaccine.id) {
        <li class="clickable" (click)="onVaccineClick(vaccine)">
        Nome: {{ vaccine.name }}
        </li>
    }
</ul>

<button type="submit" (click)="onRegisterVaccine()">Cadastrar nova vacina</button>

@if (showVaccineRegisterModal) {
    <app-vaccine-register-modal
        (closeEvent)="showVaccineRegisterModal = false"
        (confirmRegisterEvent)="onConfirmRegisterVaccine($event)">
    </app-vaccine-register-modal>
}

@if (showVaccineManagementModal) {
    <app-vaccine-management-modal
        (closeEvent)="showVaccineManagementModal = false"
        (confirmVaccineDeletion)="onConfirmDeleteVaccine($event)"
        [vaccine]="selectedVaccine">
    </app-vaccine-management-modal>
}

@if (isLoading()) {
    <app-spinner></app-spinner>
}